@import "./Footer"

.keyviewer
  display: flex
  flex: 1
  flex-direction: column

  .keyviewer-title
    border-bottom: solid $borderWidth var(--border-color)

  .keyviewer-content
    flex: 1
    align-items: center
    justify-content: center
