:root {
  --color-primary: #38b2ac;
  --color-secondary: #4a5568;
  --color-success: #48bb78;
  --color-danger: #f56565;
  --color-warning: #ecc94b;
  --color-info: #9f7aea;
  --border-color: #cbd5e0;
  --text-color: #1a202c;
  --muted-color: #718096;
}
