@import "./Folder"
@import "./Key"

.keytree
  display: flex
  flex-direction: column
  height: 100%

  .keytree-filter
    height: 3rem
    padding: $basePadding
    border-bottom: solid $borderWidth var(--border-color)
    display: flex
    align-items: center

    input
      width: 100%

  .keytree-list
    display: flex
    flex: 1
    flex-direction: column
    padding: $basePadding

    .empty
      display: flex
      flex: 1
      align-items: center
      justify-content: center
      flex-direction: column
