@import "../../../assets/css/_variables"

.key-container
  cursor: pointer
  display: inline-flex
  align-items: center
  padding: $basePadding

  .key-type
    display: inline-flex
    border-radius: $basePadding
    width: $keyListIconSize
    height: $keyListIconSize
    justify-content: center
    align-items: center

    &.string
      background-color: blue
      color: white
    
    &.zset
      background-color: purple
      color: white

    &.set
      background-color: violet
      color: white

    &.hash
      background-color: orange
      color: white

    &.list
      background-color: brown
      color: white
