.key-container
  cursor: pointer

  &:hover
    background-color: lightgrey

  .key-type
    padding: 0.25rem

    &.string
      background-color: blue
      color: white
    
    &.zset
      background-color: purple
      color: white

    &.set
      background-color: violet
      color: white

    &.hash
      background-color: orange
      color: white

    &.list
      background-color: brown
      color: white
